*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#na{
    display: flex;
    font-weight: 100;
    width: 30vw;
    height: 30vh;
    position: absolute;
    left: 35vw;
    top: 20vh;
    align-items: center;
    justify-content: center;
}

h3,h2,ul,input,h1{
    display: none;
}

#icon{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 3vw;
    top: 4vh;
}

@media (max-width: 426px){

    #na{
        display: none;
    }
    #title{
        position: absolute;
        width: 90vw;
        display: flex;
        height: 5vh;
        left: 5vw;
        text-align: center;
        top: 30vh;
        font-size: 160%;
        font-weight: 200;
    }

    .buttons{
        width: 90vw;
        height: 15vh;
        position: absolute;
        left: 5vw;
        list-style-type: none;
        top: 45vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .buttons li{
        width: 35%;
        text-align: center;
        display: flex;
        border-radius: 6px;
        height: 100%;
        margin: 0px 10px;
        cursor: pointer;
        box-shadow: 1px 1px 6px #000;
        color: #000;
        transition: 0.2s;
        font-size: 250%;
        justify-content: center;
        align-items: center;
        background-color: #bebebe;
    }

    .buttons li:hover{
        font-size: 300%;
    }

    #icon{
        left: 10vw;
    }
}