*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#na{
    display: flex;
    font-weight: 100;
    width: 30vw;
    height: 30vh;
    position: absolute;
    left: 35vw;
    top: 20vh;
    align-items: center;
    justify-content: center;
}

h3,h2,ul,input,h1{
    display: none;
}

#icon{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 3vw;
    top: 4vh;
    filter: drop-shadow(1px 1px 1px #000);
}

#successtitle{
    display: none;
    transition: 0.35s;
}

.filelist{
    position: absolute;
    width: 70vw;
    height: 20vh;
    display: flex;
    transition: 0.25s;
    justify-content: center;
    align-items: flex-start;
    left: 15vw;
    top: 45vh;
}
.filelist h3{
    display: flex;
    position: absolute;
    width: 20%;
    height: 100px;
    left: 0;
    font-weight: 300;
}
.filelist input{
    display: flex;
    width: 75%;
    height: 30px;
    position: absolute;
    right: 0;
}

.filelist ul{
    width: 100%;
    height: 50%;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    top: 50%;
}

@media (max-width: 426px){
    #successtitle{
        display: flex;
        position: absolute;
        left: 10vw;
        width: 80vw;
        top: 40vh;
        opacity: 0;
        text-align: center;
        font-size: 140%;
        height: 30vh;
        font-weight: 200;
    }
    #na{
        display: none;
    }
    #title{
        position: absolute;
        width: 90vw;
        transition: 0.25s;
        display: flex;
        height: 5vh;
        left: 5vw;
        text-align: center;
        top: 30vh;
        font-size: 160%;
        font-weight: 200;
    }

    .buttons{
        transition: 0.25s;
        width: 90vw;
        height: 15vh;
        position: absolute;
        left: 5vw;
        display: flex;
        list-style-type: none;
        top: 45vh;
        justify-content: center;
        align-items: center;
    }
    .buttons button{
        width: 35%;
        z-index: 10;
        text-align: center;
        display: flex;
        border-radius: 6px;
        height: 100%;
        margin: 0px 10px;
        display: none;
        cursor: pointer;
        box-shadow: 1px 1px 6px #000;
        color: #000;
        transition: 0.2s;
        font-size: 250%;
        justify-content: center;
        align-items: center;
        background-color: #bebebe;
    }

    .buttons li:hover{
        font-size: 300%;
    }

    #icon{
        left: 10vw;
    }
}