*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
}

#heading{
    position: absolute;
    left: 12.5vw;
    top: 25vh;
    width: 30vw;
    height: 10vh;
    font-size: 250%;
}

#icon{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 3vw;
    filter: drop-shadow(1px 1px 1px #000);
    top: 4vh;
}

#desc{
    width: 20vw;
    opacity: 0.8;
    height: 5vh;
    position: absolute;
    left: 12.5vw;
    top: 60vh;
}

#laptop,#mobile{
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 6px;
    filter: drop-shadow(1px 1px 2px #000);
    font-size: 300%;
    position: absolute;
    cursor: pointer;
    transition: 0.3s;
    top: 65vh;
}

#laptop:hover,#mobile:hover{
    transform: scale(1.1);
}

#laptop{
    left: 12.5vw;
}

#mobile{
    left: 20vw;
}

#qrcode{
    display: none;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 15%;
}

.laptopui,.connected{
    width: 70vw;
    height: 55vh;
    display: none;
    position: absolute;
    left: 15vw;
    top: 90vh;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: #f0f0f0;
}

.laptopui{
    display: flex;
}

.connected img{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 10%;
}

#title2{
    position: absolute;
    width: 70%;
    height: 50px;
    left: 15%;
    top: 30%;
    font-size: 180%;
    font-weight: 300;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connected h4{
    width: 65%;
    left: 16.5%;
    position: absolute;
    text-align: left;
    justify-content: left;
    display: flex;
    top: 45%;
    opacity: 0.85;
    font-weight: 300;
    font-size: 130%;
}

.laptopui h3{
    width: 90%;
    height: 15%;
    left: 5%;
    position: absolute;
    text-align: center;
    top: 5%;
    font-size: 150%;
}

.laptopui h4{
    width: 90%;
    position: absolute;
    top: 60%;
    font-weight: 200;
    text-align: center;
}

#code{
    width: 50%;
    top: 75%;
    position: absolute;
    text-align: center;
    height: 15%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    justify-content: center;
    background-color: #fff;
    font-size: 300%;
}

#connectedstatus{
    width: 20vw;
    position: absolute;
    left: 13vw;
    height: 2vh;
    top: 75vh;
    font-weight: 400;
}

#connectionstatus{
    position: absolute;
    left: 13vw;
    display: none;
    top: 70vh;
    width: 20vw;
    height: 100px;
    font-size: 100%;
    justify-content: left;
    text-align: left;
    font-weight: 500;
}

#ad{
    width: 400px;
    height: 400px;
    position: absolute;
    display: flex;
    left: 55vw;
    top: 50vh;
    transform: translateY(-50%);
}

.bottomfooter{
    position: absolute;
    top: 150vh;
    width: 100vw;
    transition: 0.5s;
    height: 150px;
    background-image: linear-gradient(to right,#141414,#171717);
}

.bottomfooter h3{
    height: 100%;
    top: 0;
    width: 30vw;
    margin: 0;
    padding: 0;
    left: 10%;
    position: absolute;
    display: flex;
    color: #fff;
    align-items: center;
    text-align: right;
    justify-content: right;
}

.bottomfooter p{
    margin: 0;
    width: 30vw;
    padding: 0;
    position: absolute;
    left: 50vw;
    top: 25%;
    align-items: center;
    display: flex;
    justify-content: left;
    text-align: left;
    height: 50%;
    color: #fff;
}

#description{
    width: 30vw;
    position: absolute;
    top: 42vh;
    left: 12.5vw;
}